.carrousel, .carrousel5, .carrousel3 {
	grid-column: 2;
	grid-row: 2;
	
	padding-left: 100px;
   
	position: relative;
	overflow: hidden;
}

.droite15, .droite155, .droite153 {
	grid-row: 2;
	grid-column: 1;
	width: 20px;
}

.fi_lm, .fi_lm, .fi_lm {
	width: 150px;
	height: 180px;
	left:0;
}

.fi_lm img, .fi_lm img, .fi_lm img {
	width: 150px;
	height: 180px;
}

.fi_lm, .fi_lm, .fi_lm {
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
}