*,
*::before,
*::after
 {
  box-sizing: border-box;
}
body
 {
  
  line-height: 1.6;
  background-color: var(--background);
  
}

p{
    font-family: var(--tma);
    font-size: var(--manjari-texte);
    margin-left:10px ;
    width: 354px;
}

.ct{
    font-style: normal;
    font-weight: lighter;
}
.trait{
    border-radius: 10px;
    margin: 2%;
    height: 2px;
    width: 90%;
    background-color:var(--marron-clair);
 }
.cite{
    font-family: var(--tma);
    font-size: var(--manjari-texte);
    font-weight: bold;
}
.clik{
    font-family: var(--tma);
    font-size: var(--manjari-texte);
    color: var(--marron-clair);
    
}
.lien{

    width: 375px;
    height: 50px;
    background-color: var(--marron-clair);
    color: var(--blanc);
    font-weight: 100;
    font-size: 17px;
    font-family: var(--tma);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
   
}


.rh4
{
  font-family: var(--tfj);
  font-size: var(--fjalla--one-sous-titre);
  font-weight: normal;
  color: var(--marron-clair);
}
h3{
    font-family: var(--tfj);
    font-size: 17px;
    margin: 10px;
    color: var(--marron-clair);
}

.resume{
    background-color: var(--creme);
    margin-top: 12px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: flex-start ;
    position: relative;

}
.ire{
    border-radius: 100%;
    z-index:1;
}
.sur{
    
    position: absolute;
    left: 27%;
    top: 10%;
    z-index: 2;
    max-width: 100%;
    height:auto;
}
.isur{
    
    position: absolute;
    right:  20%;
    top: 10%;
    z-index: 2;
}
.iree{
    border-radius: 100%;
    z-index:1;
    flex-direction:end ;
    position: relative;
    left: 180px;
    top: 20px;
}
