footer{
    background: linear-gradient(rgba(67, 55, 43, 1), rgba(0, 0, 0, 1));
    color: var(--marron-creme);
    margin-top: 12px;   
   height: 200px;  
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    
}
.hf{
   
    z-index: 1;
}
.ifoo{
    z-index: 2;
    height: 110px;
}

