.visionneuse {
    grid-column: 2;
    grid-row: 2;
    
    
    padding: 1px;
    position: relative;
    overflow: hidden;
}

.image {
    z-index: 1;
    position: relative;
}

.texte_js {
    font-family: var(--manjari-texte);
    background-color: white;
    font-size: 10px;
    color:var(--marron-clair);
    position: relative;
    width: 100%;
    padding: 0px;
    z-index: 2;
    line-height: 5em;
    top: 0;
    display: flex;
    text-align: center;
    justify-content: center;

    
}